streamlit==1.52.0
pandas==2.3.3
plotly==6.5.0
openpyxl==3.1.5

# Data fetching
requests==2.32.5
python-dotenv==1.2.1
yfinance==1.0
pyarrow==22.0.0
sodapy==2.2.0

# ML Models
prophet==1.2.1

# Geospatial / Map data
overturemaps==0.18.0
geopandas==1.1.2
shapely==2.1.2

# Anthropic API (SEC Chatbot)
anthropic==0.77.0
